.newProduct{
    flex: 4;
    padding: 20px;
}

.addProductTitle {
  font-weight: normal;
}

.addProductForm {
    margin-top: 10px;
  }
  
  .addProductItem {
    width: 300px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  .addProductItem > label {
    color: gray;
    
    margin-bottom: 10px;
  }
  
  .addProductItem > input {
    padding: 10px;
    width: 202px;
    height: 30px;
  }
  
  .addProductItem > select {
    padding: 10px;
  }

  .addAttributeButton {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 7px 10px;
    border: none;
    border-radius: 10px;
    background-color: #388e3c;
    color: white;
    font-weight: 600;
    cursor: pointer;
  }
  
  .addProductButton {
    margin-top: 10px;
    padding: 7px 10px;
    border: none;
    border-radius: 10px;
    background-color: darkblue;
    color: white;
    font-weight: 600;
    cursor: pointer;
  }

.productAttribute {
  display: flex;
  
}

.attributeLabel {
  color: gray;
  padding-bottom: 10px;
}